Repository meteora-pro/dvfu-delivery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-frontend, build-image-api, build-image-frontend, deploy-on-staging-api, deploy-on-production-api, deploy-on-staging-frontend, deploy-on-production-frontend

increment-version-api:
  image: node:10
  stage: increment-version-api
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  - git config user.email $GITLAB_USER_EMAIL
  ...

increment-version-frontend:
  image: node:10
  stage: increment-version-frontend
  variables:
    CI_REPOSITORY_URL: https://$GIT_ACCESS_USER:$ACCESS_TOKEN_FOR_PUSH@gitlab.com/$CI_PROJECT_PATH.git
  script:
  - git config --global http.postBuffer 157286400
  - git config user.name $GIT_ACCESS_USER
  - git config user.email $GITLAB_USER_EMAIL
  ...

build-image-api:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=api-$(cat apps/api/version)
  ...

build-image-frontend:
  image: andreymaznyak/docker-git-perl:latest
  stage: build
  variables:
    GIT_STRATEGY: clone
  services:
  - docker:18.09.7-dind
  before_script:
  - echo "registry=$NPM_REGISTRY" > .npmrc
  script:
  - export PROJECT_VERSION=frontend-$(cat apps/frontend/version)
  ...

deploy-on-staging-api:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

deploy-on-production-api:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${production_config} | base64 -d > ${KUBECONFIG}
  script:
  - export PROJECT_VERSION=api-$(cat apps/hackaton-api/version)
  ...

deploy-on-staging-frontend:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${staging_config} | base64 -d > ${KUBECONFIG}
  script:
  ...

deploy-on-production-frontend:
  image: registry.gitlab.com/meteora-pro/secure/it:deploy-kit-helm3
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
  - mkdir -p /etc/deploy
  - echo ${production_config} | base64 -d > ${KUBECONFIG}
  script:
  - export PROJECT_VERSION=frontend-$(cat apps/frontend/version)
  ...

[Increment version frontend frontend-release-v1.0.26]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

feat: create order by DTO
  apps/frontend/src/app/core/api/order.service.ts
  apps/frontend/src/app/delivery/delivery.component.scss
  apps/frontend/src/app/order/create-order/create-order.component.html
  apps/frontend/src/app/order/create-order/create-order.component.ts
  apps/frontend/src/app/order/mock/order-data.mock.ts
  apps/frontend/src/app/order/order-position-list-form/order-position-list-form.component.html
  apps/frontend/src/app/order/order-position-list-form/order-position-list-form.component.ts
  apps/frontend/src/app/order/order.component.html
  apps/frontend/src/app/order/order.module.ts
  apps/frontend/src/app/order/store/order.actions.ts
  apps/frontend/src/app/order/store/order.state.ts
  apps/frontend/src/environments/environment.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.27]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

create order detail
  apps/frontend/src/app/shared/components/components.module.ts
  apps/frontend/src/app/shared/components/order-detail/order-detail.component.html
  apps/frontend/src/app/shared/components/order-detail/order-detail.component.scss
  apps/frontend/src/app/shared/components/order-detail/order-detail.component.spec.ts
  apps/frontend/src/app/shared/components/order-detail/order-detail.component.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.28]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Add readme, fix connections, add dev docker compose
  apps/api/src/app/controllers/order.controller.ts
  apps/api/src/app/entities/order.entity.ts
  apps/api/src/app/services/user.service.ts
Due: increment-version-api

[Increment version api api-release-v1.0.20]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

implement bottom navigation component
  apps/frontend/src/app/app.module.ts
  apps/frontend/src/app/delivery/create-delivery/create-delivery.component.ts
  apps/frontend/src/app/shared/components/order-card/order-card.component.html
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.html
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.scss
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.ts
  apps/frontend/src/app/shared/layouts/bottom-navbar/bottom-navbar.component.html
  apps/frontend/src/app/shared/layouts/bottom-navbar/bottom-navbar.component.scss
  apps/frontend/src/app/shared/layouts/bottom-navbar/bottom-navbar.component.spec.ts
  apps/frontend/src/app/shared/layouts/bottom-navbar/bottom-navbar.component.ts
  apps/frontend/src/app/shared/layouts/layouts.module.ts
  apps/frontend/src/assets/scss/main/colors.scss
  apps/frontend/src/styles.scss
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.29]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

feat: add modal-order-position component
  apps/frontend/src/app/order/create-order/create-order.component.html
  apps/frontend/src/app/order/create-order/create-order.component.scss
  apps/frontend/src/app/order/create-order/create-order.component.ts
  apps/frontend/src/app/order/modal-order-position-form/modal-order-position-form.component.html
  apps/frontend/src/app/order/modal-order-position-form/modal-order-position-form.component.scss
  apps/frontend/src/app/order/modal-order-position-form/modal-order-position-form.component.ts
  apps/frontend/src/app/order/order-position-list-form/order-position-list-form.component.html
  apps/frontend/src/app/order/order-position-list-form/order-position-list-form.component.scss
  apps/frontend/src/app/order/order-position-list-form/order-position-list-form.component.ts
  apps/frontend/src/app/order/order.module.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.30]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

rework notification sidebar to bottom sheet
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.html
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.ts
  apps/frontend/src/app/shared/layouts/layouts.module.ts
  apps/frontend/src/app/shared/layouts/notifications/notifications.component.html
  apps/frontend/src/app/shared/layouts/notifications/notifications.component.scss
  apps/frontend/src/app/shared/layouts/notifications/notifications.component.spec.ts
  apps/frontend/src/app/shared/layouts/notifications/notifications.component.ts
  apps/frontend/src/assets/icons/icon-empty-notifications.png
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.31]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

fix styles
  apps/frontend/src/app/shared/layouts/bottom-navbar/bottom-navbar.component.html
  apps/frontend/src/app/shared/layouts/bottom-navbar/bottom-navbar.component.scss
  apps/frontend/src/app/shared/layouts/notifications/notifications.component.html
  apps/frontend/src/app/shared/layouts/notifications/notifications.component.scss
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.32]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Style order detail, fix readme
  README.md
  apps/frontend/src/app/delivery/order-detail/order-detail.component.html
  apps/frontend/src/app/delivery/order-detail/order-detail.component.scss
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.33]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

implement sign-in
  apps/frontend/src/app/auth/auth.module.ts
  apps/frontend/src/app/auth/sign-in/sign-in.component.html
  apps/frontend/src/app/auth/sign-in/sign-in.component.scss
  apps/frontend/src/app/auth/sign-in/sign-in.component.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.34]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

small fixes
  apps/frontend/src/app/auth/sign-in/sign-in.component.html
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.html
Due: increment-version-frontend

feat: save order-positions in store
  apps/frontend/src/app/core/core.module.ts
  apps/frontend/src/app/order/create-order/create-order.component.html
  apps/frontend/src/app/order/create-order/create-order.component.ts
  apps/frontend/src/app/order/modal-order-position-form/modal-order-position-form.component.html
  apps/frontend/src/app/order/order.module.ts
  apps/frontend/src/app/order/store/order.actions.ts
  apps/frontend/src/app/order/store/order.selectors.ts
  apps/frontend/src/app/order/store/order.state.ts
  apps/frontend/src/assets/scss/main/layouts.scss
  apps/frontend/src/modules/form-plugin/directives/form-state.directive.spec.ts
  apps/frontend/src/modules/form-plugin/directives/form-state.directive.ts
  apps/frontend/src/modules/form-plugin/form-plugin.actions.ts
  apps/frontend/src/modules/form-plugin/form-plugin.module.ts
  apps/frontend/src/modules/form-plugin/form-plugin.ts
  apps/frontend/src/modules/form-plugin/types/form-status.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.35]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

[Increment version frontend frontend-release-v1.0.36]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

add mobile offset
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.html
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.scss
  apps/frontend/src/app/shared/layouts/bottom-navbar/bottom-navbar.component.html
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.37]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Fix readme, fix order detail
  README.md
  apps/frontend/src/app/delivery/order-detail/order-detail.component.html
  apps/frontend/src/app/delivery/order-detail/order-detail.component.scss
  apps/frontend/src/app/delivery/order-detail/order-detail.component.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.38]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

feat: add order appraisal
  apps/frontend/src/app/order/create-order/create-order.component.html
  apps/frontend/src/app/order/create-order/create-order.component.scss
  apps/frontend/src/app/order/create-order/create-order.component.ts
  apps/frontend/src/app/order/mock/order-data.mock.ts
  apps/frontend/src/app/order/modal-order-position-form/modal-order-position-form.component.html
  apps/frontend/src/app/order/order-position-list-form/order-position-list-form.component.scss
  apps/frontend/src/app/order/order-position-list-form/order-position-list-form.component.ts
  apps/frontend/src/app/order/order.module.ts
  apps/frontend/src/app/order/store/order.actions.ts
  apps/frontend/src/app/order/store/order.model.ts
  apps/frontend/src/app/order/store/order.state.ts
  apps/frontend/src/assets/scss/main/layouts.scss
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.39]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Integrate backend entities
  apps/api/src/app/controllers/order.controller.ts
  apps/api/src/app/controllers/user.controller.ts
  apps/api/src/app/services/order.service.ts
  apps/frontend/src/app/core/api/order.service.ts
  apps/frontend/src/app/delivery/create-delivery/create-delivery.component.html
  apps/frontend/src/app/delivery/create-delivery/create-delivery.component.ts
  apps/frontend/src/app/delivery/delivery.module.ts
  apps/frontend/src/app/delivery/order-detail-container/order-detail-container.component.html
  apps/frontend/src/app/delivery/order-detail-container/order-detail-container.component.scss
  apps/frontend/src/app/delivery/order-detail-container/order-detail-container.component.spec.ts
  apps/frontend/src/app/delivery/order-detail-container/order-detail-container.component.ts
  apps/frontend/src/app/delivery/order-detail/order-detail.component.html
  apps/frontend/src/app/delivery/order-detail/order-detail.component.scss
  apps/frontend/src/app/delivery/order-detail/order-detail.component.spec.ts
  apps/frontend/src/app/delivery/order-detail/order-detail.component.ts
  apps/frontend/src/app/shared/components/components.module.ts
  apps/frontend/src/app/shared/components/order-detail/order-detail.component.html
  apps/frontend/src/app/shared/components/order-detail/order-detail.component.scss
  apps/frontend/src/app/shared/components/order-detail/order-detail.component.ts
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.21]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

[Increment version frontend frontend-release-v1.0.40]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

feat: create modal with ability to change minCostOfDelivery
  apps/frontend/src/app/order/create-order/create-order.component.html
  apps/frontend/src/app/order/create-order/create-order.component.ts
  apps/frontend/src/app/order/modal-additional-markup/modal-additional-markup.component.html
  apps/frontend/src/app/order/modal-additional-markup/modal-additional-markup.component.scss
  apps/frontend/src/app/order/modal-additional-markup/modal-additional-markup.component.ts
  apps/frontend/src/app/order/order.module.ts
  apps/frontend/src/app/order/store/order.actions.ts
  apps/frontend/src/app/order/store/order.state.ts
  apps/frontend/src/modules/form-plugin/directives/form-state.directive.ts
Due: increment-version-frontend

remove console.log
  apps/frontend/src/app/order/create-order/create-order.component.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.41]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

feat: autofocus to first input in modals
  apps/frontend/src/app/order/modal-additional-markup/modal-additional-markup.component.html
  apps/frontend/src/app/order/modal-additional-markup/modal-additional-markup.component.ts
  apps/frontend/src/app/order/modal-order-position-form/modal-order-position-form.component.html
  apps/frontend/src/app/order/modal-order-position-form/modal-order-position-form.component.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.42]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

fix: layout and styles
  apps/frontend/src/app/order/create-order/create-order.component.html
  apps/frontend/src/app/order/create-order/create-order.component.scss
  apps/frontend/src/app/order/order-position-list-form/order-position-list-form.component.scss
  apps/frontend/src/app/shared/layouts/bottom-navbar/bottom-navbar.component.html
  apps/frontend/src/assets/scss/main/colors.scss
  apps/frontend/src/assets/scss/main/layouts.scss
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.43]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

WIP me endpoint, wip orders
  apps/api/src/app/controllers/user.controller.ts
  apps/api/src/app/services/user.service.ts
  apps/frontend/src/app/app-routing.module.ts
  apps/frontend/src/app/core/api/order.service.ts
  apps/frontend/src/app/core/api/user.service.ts
  apps/frontend/src/app/profile/profile.component.html
  apps/frontend/src/app/profile/profile.component.scss
  apps/frontend/src/app/profile/profile.component.spec.ts
  apps/frontend/src/app/profile/profile.component.ts
  apps/frontend/src/app/profile/profile.module.ts
Due: increment-version-api, increment-version-frontend

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-frontend: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontend/**/*
  build-image-api: any of: apps/api/package.json
  build-image-frontend: any of: apps/frontend/package.json
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-production-api: any of: apps/api/package.json
  deploy-on-staging-frontend: any of: apps/frontend/package.json
  deploy-on-production-frontend: any of: apps/frontend/package.json
