Repository meteora-pro/dvfu-delivery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-frontend, build-image-api, build-image-frontend

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-frontend: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontend/**/*
  build-image-api: any of: apps/api/package.json
  build-image-frontend: any of: apps/frontend/package.json

[Increment version api api-release-v1.0.1]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api

[Increment version frontend frontend-release-v1.0.1]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend

fix ci
  .gitlab-ci.yml
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.2]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api

[Increment version frontend frontend-release-v1.0.2]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend

Fix healthcheks
  deploy/api/templates/deployment.yaml
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.3]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api

[Increment version frontend frontend-release-v1.0.3]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend

Fix main page
  apps/frontend/src/app/app.component.html
Due: increment-version-frontend

Add material, fix npm start script
  apps/frontend/src/app/app.component.html
  apps/frontend/src/app/app.module.ts
  apps/frontend/src/index.html
  apps/frontend/src/styles.scss
  package-lock.json
  package.json
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.4]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api

[Increment version frontend frontend-release-v1.0.4]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend

Remove blank links
  apps/frontend/src/app/app.component.html
Due: increment-version-frontend

Add delivery and order modules
  apps/frontend/src/app/app.component.html
  apps/frontend/src/app/app.module.ts
  apps/frontend/src/app/delivery/delivery.component.html
  apps/frontend/src/app/delivery/delivery.component.scss
  apps/frontend/src/app/delivery/delivery.component.spec.ts
  apps/frontend/src/app/delivery/delivery.component.ts
  apps/frontend/src/app/delivery/delivery.module.ts
  apps/frontend/src/app/order/order.component.html
  apps/frontend/src/app/order/order.component.scss
  apps/frontend/src/app/order/order.component.spec.ts
  apps/frontend/src/app/order/order.component.ts
  apps/frontend/src/app/order/order.module.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.5]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend

Move app info to pre
  apps/frontend/src/app/app.component.html
Due: increment-version-frontend

Add app config module
  apps/api/src/app/app-config.module.ts
  apps/api/src/app/app.config.ts
  apps/api/src/app/app.service.ts
  package-lock.json
  package.json
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.5]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api

[Increment version frontend frontend-release-v1.0.6]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend

[Increment version api api-release-v1.0.6]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api

[Increment version frontend frontend-release-v1.0.7]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend

Add types scheme
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-frontend

implement navbar
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.html
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.scss
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.8]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend

change icons
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.html
Due: increment-version-frontend

change colors
  apps/frontend/src/styles.scss
Due: increment-version-frontend

Setup db config, fix env variables
  .dockerignore
  apps/api/src/app/app.config.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/entities/user.entity.ts
  config/api/.development.env
  deploy/api/Dockerfile
  deploy/api/templates/deployment.yaml
  ormconfig.js
  package-lock.json
  package.json
Due: increment-version-api, increment-version-frontend

create component and fix app styles
  apps/frontend/src/app/delivery/create-delivery/create-delivery.component.html
  apps/frontend/src/app/delivery/create-delivery/create-delivery.component.scss
  apps/frontend/src/app/delivery/create-delivery/create-delivery.component.spec.ts
  apps/frontend/src/app/delivery/create-delivery/create-delivery.component.ts
  apps/frontend/src/app/delivery/delivery.component.html
  apps/frontend/src/app/delivery/delivery.module.ts
  apps/frontend/src/assets/scss/main/layouts.scss
Due: increment-version-frontend

Fix gitignore
  .gitignore
Due: none

[Increment version frontend frontend-release-v1.0.9]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend

[Increment version api api-release-v1.0.7]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api

[Increment version frontend frontend-release-v1.0.10]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend

Add readme, fix connections, add dev docker compose
  README.md
  docker-compose.dev.yaml
  ormconfig.js
  package-lock.json
  package.json
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.8]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api

[Increment version frontend frontend-release-v1.0.11]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend

create order-card.component and shared components
  apps/frontend/src/app/app.component.ts
  apps/frontend/src/app/delivery/create-delivery/create-delivery.component.html
  apps/frontend/src/app/delivery/create-delivery/create-delivery.component.ts
  apps/frontend/src/app/delivery/delivery.module.ts
  apps/frontend/src/app/shared/components/components.module.ts
  apps/frontend/src/app/shared/components/order-card/order-card.component.html
  apps/frontend/src/app/shared/components/order-card/order-card.component.scss
  apps/frontend/src/app/shared/components/order-card/order-card.component.spec.ts
  apps/frontend/src/app/shared/components/order-card/order-card.component.ts
  apps/frontend/src/app/shared/shared.module.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.12]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend

Fix loading config bug
  apps/api/src/app/app-config.module.ts
  apps/api/src/app/app.config.ts
  apps/api/src/app/app.module.ts
  docker-compose.dev.yaml
  docker-compose.yaml
  package-lock.json
  package.json
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.9]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api
