Repository meteora-pro/dvfu-delivery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-frontend, build-image-api, build-image-frontend, deploy-on-staging-api, deploy-on-production-api, deploy-on-staging-frontend, deploy-on-production-frontend

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-frontend: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontend/**/*
  build-image-api: any of: apps/api/package.json
  build-image-frontend: any of: apps/frontend/package.json
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-production-api: any of: apps/api/package.json
  deploy-on-staging-frontend: any of: apps/frontend/package.json
  deploy-on-production-frontend: any of: apps/frontend/package.json

[Increment version frontend frontend-release-v1.0.13]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Add entities and base services
  apps/api/src/app/controllers/order.controller.ts
  apps/api/src/app/controllers/user.controller.ts
  apps/api/src/app/entities/delivery.entity.ts
  apps/api/src/app/entities/order.entity.ts
  apps/api/src/app/entities/user.entity.ts
  apps/api/src/app/services/delivery.service.ts
  apps/api/src/app/services/order.service.ts
  apps/api/src/app/services/user.service.ts
  libs/types/src/lib/types.ts
  package-lock.json
  package.json
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.10]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

[Increment version frontend frontend-release-v1.0.14]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

feat(order): add create-order component
  angular.json
  apps/frontend/src/app/order/create-order/create-order.component.html
  apps/frontend/src/app/order/create-order/create-order.component.scss
  apps/frontend/src/app/order/create-order/create-order.component.spec.ts
  apps/frontend/src/app/order/create-order/create-order.component.ts
  apps/frontend/src/app/order/order-position-list-form/order-position-list-form.component.html
  apps/frontend/src/app/order/order-position-list-form/order-position-list-form.component.scss
  apps/frontend/src/app/order/order-position-list-form/order-position-list-form.component.ts
  apps/frontend/src/app/order/order.module.ts
  libs/types/src/lib/types.ts
  package-lock.json
  package.json
Due: increment-version-api, increment-version-frontend

tslint: remove prefix from component-selector
  apps/frontend/tslint.json
  package-lock.json
Due: increment-version-frontend

Fix secret mount path, fix entities bugs
  apps/api/src/app/app.config.ts
  apps/api/src/app/entities/delivery.entity.ts
  apps/api/src/app/entities/order.entity.ts
  deploy/api/templates/deployment.yaml
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.11]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

[Increment version frontend frontend-release-v1.0.15]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

create colors
  apps/frontend/src/app/delivery/create-delivery/create-delivery.component.html
  apps/frontend/src/app/delivery/create-delivery/create-delivery.component.scss
  apps/frontend/src/app/delivery/create-delivery/create-delivery.component.ts
  apps/frontend/src/app/shared/components/components.module.ts
  apps/frontend/src/app/shared/components/order-card/order-card.component.html
  apps/frontend/src/app/shared/components/order-card/order-card.component.scss
  apps/frontend/src/app/shared/components/order-card/order-card.component.ts
  apps/frontend/src/assets/scss/main/colors.scss
  apps/frontend/src/assets/scss/theming.scss
  apps/frontend/src/styles.scss
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.12]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

[Increment version frontend frontend-release-v1.0.16]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

feat: add createOrder action in order state
  apps/frontend/src/app/delivery/delivery.module.ts
  apps/frontend/src/app/delivery/order-check-list/order-check-list.component.html
  apps/frontend/src/app/delivery/order-check-list/order-check-list.component.scss
  apps/frontend/src/app/delivery/order-check-list/order-check-list.component.spec.ts
  apps/frontend/src/app/delivery/order-check-list/order-check-list.component.ts
  apps/frontend/src/app/order/create-order/create-order.component.html
  apps/frontend/src/app/order/create-order/create-order.component.ts
  apps/frontend/src/app/order/order-position-list-form/order-position-list-form.component.ts
  apps/frontend/src/app/order/order.module.ts
  apps/frontend/src/app/order/store/order.actions.ts
  apps/frontend/src/app/order/store/order.selectors.ts
  apps/frontend/src/app/order/store/order.state.spec.ts
  apps/frontend/src/app/order/store/order.state.ts
  package-lock.json
  package.json
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.13]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

[Increment version frontend frontend-release-v1.0.17]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Fix imports
  apps/api/src/app/app.config.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/controllers/order.controller.ts
  apps/api/src/app/controllers/user.controller.ts
  apps/api/src/app/entities/delivery.entity.ts
  apps/api/src/app/entities/order.entity.ts
  apps/api/src/app/entities/user.entity.ts
  apps/api/src/app/services/user.service.ts
  apps/api/src/main.ts
  apps/frontend/src/app/core/api/delivery.service.spec.ts
  apps/frontend/src/app/core/api/delivery.service.ts
  apps/frontend/src/app/core/api/order.service.spec.ts
  apps/frontend/src/app/core/api/order.service.ts
  apps/frontend/src/app/core/api/user.service.spec.ts
  apps/frontend/src/app/core/api/user.service.ts
  package-lock.json
  package.json
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.14]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

[Increment version frontend frontend-release-v1.0.18]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

implement delivery list component
  apps/frontend/src/app/delivery/delivery.module.ts
  apps/frontend/src/app/delivery/order-detail/order-detail.component.html
  apps/frontend/src/app/delivery/order-detail/order-detail.component.scss
  apps/frontend/src/app/delivery/order-detail/order-detail.component.spec.ts
  apps/frontend/src/app/delivery/order-detail/order-detail.component.ts
  apps/frontend/src/app/shared/components/components.module.ts
  apps/frontend/src/app/shared/components/order-card/order-card.component.html
  apps/frontend/src/app/shared/components/order-card/order-card.component.scss
Due: increment-version-frontend

Add order service endpoints
  apps/frontend/src/app/core/api/order.service.ts
  apps/frontend/src/app/core/api/user.service.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.19]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

[Increment version frontend frontend-release-v1.0.20]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Add logs
  apps/api/src/app/app-config.module.ts
  apps/api/src/app/app.config.ts
Due: increment-version-api

Add log
  apps/api/src/app/app-config.module.ts
Due: increment-version-api

[Increment version api api-release-v1.0.15]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

Fix types
  apps/api/src/app/entities/user.entity.ts
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.16]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

[Increment version frontend frontend-release-v1.0.21]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Add order by id endpoint, clean logs
  apps/api/src/app/app-config.module.ts
  apps/api/src/app/app.config.ts
  apps/api/src/app/app.service.ts
  apps/api/src/app/controllers/order.controller.ts
  apps/frontend/src/app/core/api/order.service.ts
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.17]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

enable PWA and set icons
  angular.json
  apps/frontend/ngsw-config.json
  apps/frontend/src/app/app.module.ts
  apps/frontend/src/assets/icons/icon-128x128.png
  apps/frontend/src/assets/icons/icon-144x144.png
  apps/frontend/src/assets/icons/icon-152x152.png
  apps/frontend/src/assets/icons/icon-192x192.png
  apps/frontend/src/assets/icons/icon-384x384.png
  apps/frontend/src/assets/icons/icon-512x512.png
  apps/frontend/src/assets/icons/icon-72x72.png
  apps/frontend/src/assets/icons/icon-96x96.png
  apps/frontend/src/index.html
  apps/frontend/src/manifest.webmanifest
  package-lock.json
  package.json
Due: increment-version-api, increment-version-frontend

[Increment version frontend frontend-release-v1.0.22]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

[Increment version api api-release-v1.0.18]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

[Increment version frontend frontend-release-v1.0.23]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Implement get my orders
  apps/api/src/app/controllers/order.controller.ts
  apps/frontend/src/app/core/api/order.service.ts
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.19]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

[Increment version frontend frontend-release-v1.0.24]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

fix landing
  apps/frontend/src/app/landing/landing.component.html
  apps/frontend/src/app/landing/landing.component.scss
  apps/frontend/src/app/landing/landing.module.ts
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.html
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.scss
  apps/frontend/src/assets/icons/icon-96x96-inverse.png
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.25]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

fix pwa again
  apps/frontend/src/manifest.webmanifest
Due: increment-version-frontend
