Repository meteora-pro/dvfu-delivery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: increment-version-api, increment-version-frontend, build-image-api, build-image-frontend, deploy-on-staging-api, deploy-on-production-api, deploy-on-staging-frontend, deploy-on-production-frontend

Path conditions:
  increment-version-api: any of: .gitlab-ci.yml, nest-cli.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/api/**/*
  increment-version-frontend: any of: .gitlab-ci.yml, angular.json, tsconfig.json, tsconfig.build.json, package.json, libs/**/*, tools/**/*, deploy/**/*, apps/frontend/**/*
  build-image-api: any of: apps/api/package.json
  build-image-frontend: any of: apps/frontend/package.json
  deploy-on-staging-api: any of: apps/api/package.json
  deploy-on-production-api: any of: apps/api/package.json
  deploy-on-staging-frontend: any of: apps/frontend/package.json
  deploy-on-production-frontend: any of: apps/frontend/package.json

[Increment version api api-release-v1.0.22]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

[Increment version frontend frontend-release-v1.0.44]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

feat: add my-order-list component and route
  apps/frontend/src/app/order/components/modal-additional-markup/modal-additional-markup.component.html
  apps/frontend/src/app/order/components/modal-additional-markup/modal-additional-markup.component.scss
  apps/frontend/src/app/order/components/modal-additional-markup/modal-additional-markup.component.ts
  apps/frontend/src/app/order/components/modal-order-position-form/modal-order-position-form.component.html
  apps/frontend/src/app/order/components/modal-order-position-form/modal-order-position-form.component.scss
  apps/frontend/src/app/order/components/modal-order-position-form/modal-order-position-form.component.ts
  apps/frontend/src/app/order/components/order-position-list-form/order-position-list-form.component.html
  apps/frontend/src/app/order/components/order-position-list-form/order-position-list-form.component.scss
  apps/frontend/src/app/order/components/order-position-list-form/order-position-list-form.component.ts
  apps/frontend/src/app/order/create-order/create-order.component.ts
  apps/frontend/src/app/order/order-list/order-list.component.html
  apps/frontend/src/app/order/order-list/order-list.component.scss
  apps/frontend/src/app/order/order-list/order-list.component.spec.ts
  apps/frontend/src/app/order/order-list/order-list.component.ts
  apps/frontend/src/app/order/order.module.ts
  apps/frontend/src/app/order/store/order.actions.ts
  apps/frontend/src/app/order/store/order.model.ts
  apps/frontend/src/app/order/store/order.state.ts
  apps/frontend/src/app/shared/pipes/order-status-color.pipe.ts
  apps/frontend/src/app/shared/pipes/order-status-text.pipe.ts
  apps/frontend/src/app/shared/shared.module.ts
  apps/frontend/src/assets/scss/main/layouts.scss
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.45]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

fix: remove mock data
  apps/frontend/src/app/order/mock/order-data.mock.ts
Due: increment-version-frontend

Add profile, separate rating component
  apps/api/src/app/controllers/user.controller.ts
  apps/frontend/src/app/app-routing.module.ts
  apps/frontend/src/app/profile/profile.component.html
  apps/frontend/src/app/profile/profile.component.scss
  apps/frontend/src/app/profile/profile.module.ts
  apps/frontend/src/app/shared/components/components.module.ts
  apps/frontend/src/app/shared/components/order-detail/order-detail.component.html
  apps/frontend/src/app/shared/components/order-detail/order-detail.component.scss
  apps/frontend/src/app/shared/components/rating/rating.component.html
  apps/frontend/src/app/shared/components/rating/rating.component.scss
  apps/frontend/src/app/shared/components/rating/rating.component.spec.ts
  apps/frontend/src/app/shared/components/rating/rating.component.ts
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.html
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.23]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

[Increment version frontend frontend-release-v1.0.46]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

[Increment version frontend frontend-release-v1.0.47]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Fix mock data, fix order sort
  apps/frontend/src/app/core/api/order.service.ts
  apps/frontend/src/app/order/mock/order-data.mock.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.48]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Fix routing bug
  apps/frontend/src/app/app-routing.module.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.49]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Fix ui and landing
  apps/frontend/src/app/landing/landing.component.html
  apps/frontend/src/app/landing/landing.component.scss
  apps/frontend/src/app/landing/landing.component.ts
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.html
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.scss
  apps/frontend/src/assets/icons/landing-logo.svg
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.50]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Add spinner, fix icons
  apps/frontend/src/app/app.component.ts
  apps/frontend/src/app/core/api/user.service.ts
  apps/frontend/src/app/profile/profile.component.html
  apps/frontend/src/app/profile/profile.component.scss
  apps/frontend/src/app/profile/profile.component.ts
  apps/frontend/src/app/profile/profile.module.ts
  apps/frontend/src/app/shared/layouts/bottom-navbar/bottom-navbar.component.scss
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.51]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Add readme, fix connections, add dev docker compose
  apps/api/src/app/entities/user.entity.ts
  apps/frontend/src/app/core/api/user.service.ts
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.24]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

[Increment version frontend frontend-release-v1.0.52]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Fix private variable bug
  apps/frontend/src/app/profile/profile.component.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.53]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Disable user crud endpoints
  apps/api/src/app/controllers/user.controller.ts
Due: increment-version-api

Fix types, fix ratings, fix users
  apps/api/src/app/controllers/delivery.controller.ts
  apps/api/src/app/controllers/user.controller.ts
  apps/api/src/app/entities/user.entity.ts
  apps/api/src/app/services/delivery.service.ts
  apps/api/src/app/services/user.service.ts
  apps/frontend/src/app/core/api/user.service.ts
  apps/frontend/src/app/profile/profile.component.html
  apps/frontend/src/app/shared/components/rating/rating.component.html
  apps/frontend/src/app/shared/components/rating/rating.component.ts
  libs/types/src/lib/types.ts
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.25]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

[Increment version frontend frontend-release-v1.0.54]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Fix delivery
  apps/api/src/app/app.module.ts
  apps/frontend/src/app/app.component.ts
  apps/frontend/src/app/core/api/delivery.service.ts
Due: increment-version-api, increment-version-frontend

[Increment version api api-release-v1.0.26]
  apps/api/package.json
  apps/api/version
  deploy/api/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-api, deploy-on-staging-api, deploy-on-production-api

[Increment version frontend frontend-release-v1.0.55]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Fix order service
  apps/frontend/src/app/core/api/order.service.ts
  apps/frontend/src/app/delivery/order-detail-container/order-detail-container.component.html
  apps/frontend/src/app/delivery/order-detail-container/order-detail-container.component.ts
  apps/frontend/src/app/shared/components/order-detail/order-detail.component.html
  apps/frontend/src/app/shared/components/order-detail/order-detail.component.ts
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.56]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Fix orders navigation
  apps/frontend/src/app/app.component.ts
  apps/frontend/src/app/core/api/order.service.ts
  apps/frontend/src/app/core/api/user.service.ts
  apps/frontend/src/app/order/order-list/order-list.component.ts
  apps/frontend/src/app/order/order.module.ts
  apps/frontend/src/app/order/store/order.state.ts
  apps/frontend/src/app/shared/layouts/base-layout/base-layout.component.html
Due: increment-version-frontend

[Increment version frontend frontend-release-v1.0.57]
  apps/frontend/package.json
  apps/frontend/version
  deploy/frontend/Chart.yaml
Due: increment-version-api, increment-version-frontend, build-image-frontend, deploy-on-staging-frontend, deploy-on-production-frontend

Complete MVP Cases
  apps/api/src/app/controllers/order.controller.ts
  apps/api/src/app/entities/order.entity.ts
  apps/frontend/src/app/core/api/delivery.service.ts
  apps/frontend/src/app/core/api/order.service.ts
  apps/frontend/src/app/delivery/create-delivery/create-delivery.component.ts
  apps/frontend/src/app/delivery/delivery.module.ts
  apps/frontend/src/app/delivery/order-detail-container/order-detail-container.component.ts
  apps/frontend/src/app/order/order-list/order-list.component.html
  apps/frontend/src/app/order/store/order.state.ts
Due: increment-version-api, increment-version-frontend

Write README, add easy setup docker services
  README.md
  apps/frontend/src/environments/environment.prod.ts
  apps/frontend/src/environments/environment.ts
  config/api/.development.env
  docker-compose.dev.yaml
  docker-compose.yaml
  ormconfig.js
Due: increment-version-frontend
